{{ form_start(form) }}

<h2>Veuillez renseigné</h2>
<h4>Saisir</h4>
mois{{form_widget(form.mois)}}
annee{{form_widget(form.annee)}}

{{form_widget(form.Save)}}
{{ form_end(form) }}


<?php  
print_r($requetefiche);
?>
Tableau de la fiche
<table class="table-bordered">   <!--Tableau de la fiche-->
                                <thead>
                                <tr>
                                   
                                    <th>Date de Modification</th>
                                    <th>Etat</th>

                                </tr>
                                </thead>
                                <tbody>
                           {% if requetefiche is defined %}    
                                {% for fiche in requetefiche %}

                                    <tr>
                                   {#     {% set explode =  fiche.dateModif|split('-') %}#}
                                        <td>{{ fiche.dateModif|date('Y-m-d') }}</td>
                                        <td>{{ fiche.libelle }}</td>
                                        
                                       {# <td class="color-primary">{{ explode[2]~'-'~explode[1]~'-'~explode[0] }}</td> #}
                                    </tr>
                                    
                                {% endfor %}
                            {% endif %}
                                </tbody>
</table>
                                </br></br>    
 Tableau des frais hors forfait                               
<table class="table-bordered">  <!--Tableau des frais hors forfait-->
                                <thead>
                                <tr>
                                   
                                    <th>Nom</th>
                                    <th>Montant</th>
                                    <th>Date</th>


                                </tr>
                                </thead>
                                <tbody>
                             {% if requetehorsforfait is defined %}   
                                {% for horsforfait in requetehorsforfait %}

                                    <tr>
                                   {#     {% set explode =  fiche.dateModif|split('-') %}#}
                                        <td>{{ horsforfait.libelle }}</td>
                                        <td>{{ horsforfait.montant }}</td>
                                        <td>{{ horsforfait.date|date('Y-m-d') }}</td>
                                        
                                        
                                       {# <td class="color-primary">{{ explode[2]~'-'~explode[1]~'-'~explode[0] }}</td> #}
                                    </tr>
                                    
                                {% endfor %}
                              {% endif %}
                                </tbody>
</table>  
                                
</br></br>    
 Tableau des frais inclut dans le forfait                                    
                                
<table class="table-bordered">  <!--Tableau des frais hors forfait-->
                                <thead>
                                <tr>
                                   
                                    <th>Libelle</th>
                                    <th>Quantite</th>
                                    <th>Montant</th>


                                </tr>
                                </thead>
                                <tbody>
                             {% if requeteforfait is defined %}      
                                {% for forfait in requeteforfait %}

                                    <tr>
                                   {#     {% set explode =  fiche.dateModif|split('-') %}#}
                                        <td>{{ forfait.libelle }}</td>
                                        <td>{{ forfait.quantite }}</td>
                                        <td>{{ forfait.montant }}</td>
                                        
                                        
                                       {# <td class="color-primary">{{ explode[2]~'-'~explode[1]~'-'~explode[0] }}</td> #}
                                    </tr>
                                    
                                {% endfor %}
                              {% endif %}
                                </tbody>
</table>                                  
                                