{# empty Twig template #}

{{ form_start(form) }}

<h2>Veuillez renseigné</h2>
<h4>Saisir</h4>
Jour{{form_widget(form.jour)}}
Mois{{form_widget(form.mois)}}

   Annee{{form_widget(form.annee)}}

<h4>Frais au forfait</h4>

*Merci d'indiquer la quantité prise pendant la/les visites </br></br>

Repas du midi* {{form_widget(form.repasmidi)}}
Nombre de nuite*{{form_widget(form.nuite)}}

Etape* {{form_widget(form.etape)}}

KM* {{form_widget(form.km)}}

<h4>Frais Hors Forfait</h4>

Date {{form_widget(form.date)}}
Libelle {{form_widget(form.libelle)}}
Montant {{form_widget(form.montant)}}


<h4>Hors classification</h4>

Nombre de justificatifs {{form_widget(form.nbjust)}}

Montant {{form_widget(form.montantvalide)}}
</br></br>
{{form_widget(form.Save)}}
{{ form_end(form) }}