<style>
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
</style>
<body>
<ul>
  <li><a href="default.asp">Modification de fiche(s)</a></li>
  <li><a href="news.asp">Creation d'une nouvelle fiche</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul> 

    
  
{{ form_start(form) }}
<h1>Bienvenue dans la gestion des frais</h1>
<h2>Creation d'une nouvelle fiche</h2>
<h4>Saisir</h4>
{% if app.session.flashBag.has('success') %}
        <div class="alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
<h5>Important : vous ne pouvez de fiche que pour le mois courant ou pour le mois précedent
 tant que le jour 10 n'a pas été atteind</h5>

Mois{{form_widget(form.mois)}}

   Annee{{form_widget(form.annee)}}

<h4>Frais au forfait</h4>

*Merci d'indiquer la quantité prise pendant la/les visites </br></br>

Repas du midi* {{form_widget(form.repasmidi)}}
Nombre de nuite*{{form_widget(form.nuite)}}

Etape* {{form_widget(form.etape)}}

KM* {{form_widget(form.km)}}

<h4>Frais Hors Forfait</h4>



Date {{form_widget(form.date)}}
Libelle {{form_widget(form.libelle)}}
Montant {{form_widget(form.montant)}}


<h4>Hors classification</h4>

Nombre de justificatifs {{form_widget(form.nbjust)}}

Montant {{form_widget(form.montantvalide)}}
</br></br>

<h5>Important : si votre fiche existe déjà la fiche sera simplement mise à jour
Vous pouvez ulterieument (avant la fin du délai) inserer une ligne hors forfait</h5>


{{form_widget(form.Save)}}
{{ form_end(form) }}


</body>